body {
  padding: 0px;
  margin: 0px;
}
.outer-page {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px black dotted;
}
.page {
  display: flex;
  margin: 0;
  align-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.page-with-columns {
  flex-direction: column;
}
.page-with-rows {
  flex-direction: row;
}
.photo {
  object-fit: cover;
  object-position: center;
}
.print-mode .outer-page {
  border: none;
}
.print-mode .debug-tag {
  display: none;
}
